<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Navbar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../assests/style.css"> 
</head>
<body>
        <!--- SECTION 1 THE UPPER BAR -->
        <nav class="navbar bg-body-tertiary top">
            <div class="container-fluid">
                <div class="header ms-5 ps-5">
                <i class="bi bi-telephone"><a>03070879467</a></i>
                <i class="bi bi-envelope"><a>haiqaarsheen2@gmail.com</a></i>
                </div>
              <form class="d-flex  me-5 ms-auto login">
                <li class=" dropdown ">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
                      US
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">PK</a></li>
                      
                    </ul>
                  </li> 
                  <i class="bi bi-person mt-4"><a href="login.html">LOGIN</a></i>          </form>
            </div>
          </nav>
          <!--SECTION 2 THE NAVBAR-->
        <nav class="navbar navbar-expand-lg  fixed  ">
            <div class="container-fluid">
             <img class="ms-5 ps-5 navbar-brand" src="../img/home/logo.png">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ms-auto  mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link  color" aria-current="page" href="index.html">HOME</a>
                  </li>
                  
                  <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle color" href="#" role="button" data-bs-toggle="dropdown">
                      CATEGORIES
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Statement Rings</a></li>
                      <li><a class="dropdown-item" href="#">Wired Wrapped jewellery</a></li>
                      <li><a class="dropdown-item" href="#">Loos Gemstones</a></li>
                      <li><a class="dropdown-item" href="#">Brands</a></li>
                      <li><a class="dropdown-item" href="#">Pendant</a></li>
                      <li><a class="dropdown-item" href="#">Braclets</a></li>
                      <li><a class="dropdown-item" href="#">Earrings</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="products.html">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="FAQ.html">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact.html">CONTACT</a>
                  </li>
                </ul>
                <form class="d-flex manuicon me-5 ms-auto ">
                    <i class="bi bi-heart "></i>  
                    <i class="bi bi-search"></i>             
                    <i class="bi bi-cart3 "></i>  
                    <div class="badge">0</div>
                </form>
              </div>
            </div>
          </nav>
<h1 class="faqheading">Shipping</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      What Shipping Methods Are Available 
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Ex Portland Pitchfork irure mustache. Eutra fap before they sold out literally. Aliquip ugh bicycle rights actually mlkshk, seitan squid craft beer tempor.
</p>    </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      Do You Ship Internationally?
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Hoodie tote bag mixtape tofu. Typewriter jean shorts wolf quinoa, messenger bag organic freegan cray.
</p>    </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      How Long It Will Take To Get My Package?
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Swag slow-carb quinoa VHS typewriter pork belly brunch, paleo single-origin coffee Wes Anderson. Flexitarian Pitchfork forage, literally paleo fap pour-over. Wes Anderson Pinterest YOLO fanny pack meggings, deep v XOXO chambray sustainable slow-carb raw denim church-key fap chillwave Etsy. +1 typewriter kitsch, American Apparel tofu Banksy Vice.</p>    </div>
  </div>
</div>
<!-----X2nd section -->
<h1 class="faqheading">Payment</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      What Payment Method is Accepted? 
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Fashion axe DIY jean shorts, swag kale chips meh polaroid kogi butcher Wes Anderson chambray next level semiotics gentrify yr. Voluptate photo booth fugiat Vice. Austin sed Williamsburg, ea labore raw denim voluptate cred proident mixtape excepteur mustache. Twee chia photo booth readymade food truck, hoodie roof party swag keytar PBR DIY.</p>    </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      Is Buying On-Line Safe?
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn, synth Thundercats swag 8-bit photo booth. Plaid letterpress leggings craft beer meh ethical Pinterest.</p>  </div>
  </div>
  
</div>

<!---- 3rd row-->
<h1 class="faqheading">Order & Returns</h1>
<div class="accordion" id="accordionExample">
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
      How Do I Place An Order? 
      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Keytar cray slow-carb, Godard banh mi salvia pour-over. Slow-carb Odd Future seitan normcore. Master cleanse American Apparel gentrify flexitarian beard slow-carb next level. Raw denim polaroid paleo farm-to-table, put a bird on it lo-fi tattooed Wes Anderson Pinterest letterpress. Fingerstache McSweeney’s pour-over, letterpress Schlitz photo booth master cleanse bespoke hashtag chillwave gentrify.</p> 
 </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
How Can I Cancel Or Change Order?      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Plaid letterpress leggings craft beer meh ethical Pinterest. Art party authentic freegan semiotics jean shorts chia cred. Neutra Austin roof party Brooklyn, synth Thundercats swag 8-bit photo booth.</p> </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
Do I Need Account To Place An Order      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Thundercats swag 8-bit photo booth. Plaid letterpress leggings craft beer meh ethical Pinterest. Twee chia photo booth readymade food truck, hoodie roof party swag keytar PBR DIY. Cray ugh 3 wolf moon fap, fashion axe irony butcher cornhole typewriter chambray VHS banjo street art.</p>  </div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
How Do I Track My Order?      <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Keytar cray slow-carb, Godard banh mi salvia pour-over. Slow-carb @Odd Future seitan normcore. Master cleanse American Apparel gentrify flexitarian beard slow-carb next level.</p></div>
  </div>
  <div class="accordion-item" onclick="toggleAccordion(this)">
    <div class="accordion-header">
How Can I Return a Product     <span class="toggle-icon expand">+</span>
      <span class="toggle-icon collapse">-</span>
    </div>
    <div class="accordion-body">
<p>Kale chips Truffaut Williamsburg, hashtag fixie Pinterest raw denim c hambray drinking vinegar Carles street art Bushwick gastropub. Wolf Tumblr paleo church-key. Plaid food truck Echo Park YOLO bitters hella, direct trade Thundercats leggings quinoa before they sold out. You probably haven’t heard of them wayfarers authentic umami drinking vinegar Pinterest Cosby sweater, fingerstache fap High Life.</p> </div>
  </div>
</div>

<div class="row me-0 rowfirst pt-5 mt-3">
    <div class="column colfirst col-md-4 col-12  ">
      <h2 class="ps-5">CUSTOMER SERVICES</h2>
      <ul>
        <a href="login.html"><li>Login</li></a>
        <a href="registration.html"><li>Registration</li></a>
        <a href="contact.html"><li>Contact</li></a>
        <a href="cookiespolicy.html"><li>Cookies Policy</li></a>
      </ul>
    </div>
    <div class="column colfirst col-md-4 col-12 ">
      <h2>MEHTAB JEWELLERS</h2>
      <h4> Address: </h4>
      <p>New Sarafa Bazar , Zaman Market , Rawalpindi | Safa Gold Mall Ground Floor, F-7 Jinnah Super Market, Islamabad, Pakistan
  
        .</p>
        <h4>Hotline:<span> 03155364953</span></h4>
        <h4>Email: <span>mehtab.jewellers@gmail.com</span></h4>
    </div>
    <div class="column colfirst col-md-4 col-12">
      <h2>SUBSCRIBE & RECEIVE 10% OFF YOUR FIRST ORDER</h2>
      
    <div class="input">  <input type="email" placeholder="Enter your email"></div>
      <h4 class="mt-4">CONNECT WITH US</h4>
      <div class="social-icons">
        <!-- Add social media icons here -->
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-tiktok"></i>    </div>
    </div>
  </div>
  <!---SECTION 12 LAST SECTION -->
  <div class="lastnav">
  <div class="navbar fixed-bottom lastnav ">
    <div class="container-fluid">
      <p class="navbar-brand" >Your experience on this site will be improved by allowing cookies<span> Cookie Policy</span> </p>
      <a href="#"><button>ALLOW COOKIES</button></a>
    </div>
  </div>
  </div>
  <!----DESIGN CART -->
<div class="cart" id="cart" style="overflow-y: scroll;">
 
  <span id="close-cart" class="close-icon">&times;</span>
  <h2>Shopping Cart</h2>
  <div class="cart-items" id="cart-items"></div>
  <p> Sub Total: <span id="total" >$0</span></p>
  <button id="checkout-btn">Checkout</button>
  <button id="view-cart-btn" >View Cart</button>

</div>
  <script src="../js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>

<script>
  function toggleAccordion(accordionItem) {
    accordionItem.classList.toggle('active');
    const toggleIcons = accordionItem.querySelectorAll('.toggle-icon');
    toggleIcons.forEach(icon => icon.classList.toggle('expand'));
    toggleIcons.forEach(icon => icon.classList.toggle('collapse'));
  }
</script>

</body>
</html>
