<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickable Navbar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../assests/style.css"> 
</head>
<body>
 <!--- SECTION 1 THE UPPER BAR -->
 <nav class="navbar bg-body-tertiary top">
  <div class="container-fluid">
      <div class="header ms-5 ps-5">
      <i class="bi bi-telephone"><a>03070879467</a></i>
      <i class="bi bi-envelope"><a>haiqaarsheen2@gmail.com</a></i>
      </div>
    <form class="d-flex  me-5 ms-auto login">
      <li class=" dropdown ">
          <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">
            US
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">PK</a></li>
            
          </ul>
        </li> 
        <i class="bi bi-person mt-4"><a href="login.html">LOGIN</a></i>          </form>
  </div>
</nav>
<!--SECTION 2 THE NAVBAR-->
<nav class="navbar navbar-expand-lg  fixed  ">
  <div class="container-fluid">
   <img class="ms-5 ps-5 navbar-brand" src="../img/home/logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  color" aria-current="page" href="index.html">HOME</a>
        </li>
        
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle color" href="#" role="button" data-bs-toggle="dropdown">
            CATEGORIES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Statement Rings</a></li>
            <li><a class="dropdown-item" href="#">Wired Wrapped jewellery</a></li>
            <li><a class="dropdown-item" href="#">Loos Gemstones</a></li>
            <li><a class="dropdown-item" href="#">Brands</a></li>
            <li><a class="dropdown-item" href="#">Pendant</a></li>
            <li><a class="dropdown-item" href="#">Braclets</a></li>
            <li><a class="dropdown-item" href="#">Earrings</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="products.html">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="FAQ.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="contact.html">CONTACT</a>
        </li>
      </ul>
      <form class="d-flex manuicon me-5 ms-auto ">
          <i class="bi bi-heart "></i>  
          <i class="bi bi-search"></i>             
          <i class="bi bi-cart3 "></i>  
          <div class="badge">0</div>
      </form>
    </div>
  </div>
</nav>
<div class="container mt-5 registration">
  <div class="row ">
    <div class="col-md-4  regicon text-center">
      <i class="bi bi-lock"></i>   </div>
    <div class="col-md-8">
      <h2 class="font-weight-bold d-inline">Login to your account</h2>
      <p>Your personal data will be used to support your experience throughout this website, to manage access to your account.</p>
    </div>
  </div>
  <div id="step1" class="step active">
   
    <div class="form-group">
      <label for="phone"class="pt-3 pb-2">Email: <span class="contactspan">*</span></label>
      <div class="input-group">
     
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>

        <input type="email" class="form-control reg" id="email" name="email" placeholder="Your email" required>      </div>
    </div>
   
    <div class="form-group">
      <label for="phone" class="pt-3 pb-2">Password:</label>
      <div class="input-group">
       
        <span class="input-group-text"><i class="bi bi-lock"></i></span>

        <input type="text" class="form-control reg" id="phone" placeholder="Password">
      </div>
    </div>

  
    <div class="form-check pt-3 " >
      <input type="checkbox" class="form-check-input" id="policyCheck">
      <label class="form-check-label" for="policyCheck">Remember me</label><a class="labela" href="forgetpass.html">Forgot password?</a>
    </div>
    <button class=" regbtn">Login</button>
    <p class="text-center pt-2">Don't have an account?<a href="registration.html">Register now</a></p>
  </div>


  
</div>
<div class="row me-0 rowfirst pt-5 mt-3">
  <div class="column colfirst col-md-4 col-12  ">
    <h2 class="ps-5">CUSTOMER SERVICES</h2>
    <ul>
      <a href="login.html"><li>Login</li></a>
      <a href="registration.html"><li>Registration</li></a>
      <a href="contact.html"><li>Contact</li></a>
      <a href="cookiespolicy.html"><li>Cookies Policy</li></a>

    </ul>
  </div>
  <div class="column colfirst col-md-4 col-12 ">
    <h2>MEHTAB JEWELLERS</h2>
    <h4> Address: </h4>
    <p>New Sarafa Bazar , Zaman Market , Rawalpindi | Safa Gold Mall Ground Floor, F-7 Jinnah Super Market, Islamabad, Pakistan

      .</p>
      <h4>Hotline:<span> 03155364953</span></h4>
      <h4>Email: <span>mehtab.jewellers@gmail.com</span></h4>
  </div>
  <div class="column colfirst col-md-4 col-12">
    <h2>SUBSCRIBE & RECEIVE 10% OFF YOUR FIRST ORDER</h2>
    
  <div class="input">  <input type="email" placeholder="Enter your email"></div>
    <h4 class="mt-4">CONNECT WITH US</h4>
    <div class="social-icons">
      <!-- Add social media icons here -->
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-tiktok"></i>    </div>
  </div>
</div>

<div class="lastnav">
  <div class="navbar fixed-bottom lastnav ">
    <div class="container-fluid">
      <p class="navbar-brand" >Your experience on this site will be improved by allowing cookies<span> Cookie Policy</span> </p>
      <a href="#"><button>ALLOW COOKIES</button></a>
    </div>
  </div>
  </div>
  
  
  
<!----DESIGN CART -->
<div class="cart" id="cart" style="overflow-y: scroll;">
 
  <span id="close-cart" class="close-icon">&times;</span>
  <h2>Shopping Cart</h2>
  <div class="cart-items" id="cart-items"></div>
  <p> Sub Total: <span id="total" >$0</span></p>
  <button id="checkout-btn">Checkout</button>
  <button id="view-cart-btn" >View Cart</button>

</div>
<script src="../js/main.js"></script>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>



</body>
</html>
